In [1]:
import pandas

In [2]:
df=pandas.read_csv("C:/Users/Rahul Bhat/Downloads/archive (5)/IPL Ball-by-Ball 2008-2020.csv")

In [3]:
df.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [4]:
df.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [5]:
df.isnull().sum()

id                       0
inning                   0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
batsman_runs             0
extra_runs               0
total_runs               0
non_boundary             0
is_wicket                0
dismissal_kind      183973
player_dismissed    183973
fielder             186684
extras_type         183235
batting_team             0
bowling_team           191
dtype: int64

In [6]:
del(df['dismissal_kind'])
del(df['player_dismissed'])
del(df['fielder'])
del(df['extras_type'])

In [7]:
del(df['bowling_team'])

In [8]:
df.isnull().sum()

id              0
inning          0
over            0
ball            0
batsman         0
non_striker     0
bowler          0
batsman_runs    0
extra_runs      0
total_runs      0
non_boundary    0
is_wicket       0
batting_team    0
dtype: int64

In [9]:
for i in df:
    print(df[i].is_monotonic)

True
False
False
False
False
False
False
False
False
False
False
False
False

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193468 entries, 0 to 193467
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            193468 non-null  int64
 1   inning        193468 non-null  int64
 2   over          193468 non-null  int64
 3   ball          193468 non-null  int64
 4   batsman       193468 non-null  object
 5   non_striker   193468 non-null  object
 6   bowler        193468 non-null  object
 7   batsman_runs  193468 non-null  int64
 8   extra_runs    193468 non-null  int64
 9   total_runs    193468 non-null  int64
 10  non_boundary  193468 non-null  int64
 11  is_wicket     193468 non-null  int64
 12  batting_team  193468 non-null  object
dtypes: int64(9), object(4)
memory usage: 19.2+ MB

In [11]:
df2=pandas.read_csv("C:/Users/Rahul Bhat/Downloads/archive (5)/IPL Matches 2008-2020.csv")

In [12]:
df2.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [13]:
df2.isnull().sum()

id                   0
city                13
date                 0
player_of_match      4
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin       17
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64

In [14]:
df2=df2.fillna('Other')

In [15]:
df2.isnull().sum()

id                 0
city               0
date               0
player_of_match    0
venue              0
neutral_venue      0
team1              0
team2              0
toss_winner        0
toss_decision      0
winner             0
result             0
result_margin      0
eliminator         0
method             0
umpire1            0
umpire2            0
dtype: int64

In [16]:
for i in df2:
    print(df2[i].is_monotonic)

True
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False

In [17]:
df.to_csv("C:/Users/Rahul Bhat/Downloads/archive (5)/New IPL Ball-by-Ball 2008-2020.csv")

In [18]:
df2.to_csv("C:/Users/Rahul Bhat/Downloads/archive (5)/New IPL Matches 2008-2020.csv")

In [19]:
del(df['id'])

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             816 non-null    object
 2   date             816 non-null    object
 3   player_of_match  816 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           816 non-null    object
 11  result           816 non-null    object
 12  result_margin    816 non-null    object
 13  eliminator       816 non-null    object
 14  method           816 non-null    object
 15  umpire1          816 non-null    object
 16  umpire2          816 non-null    object
dtypes: int64(2), object(15)
memory usage: 108.5+ KB

In [21]:
del(df2['id'])

In [23]:
df.corr(method='pearson')

,inning,over,ball,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket
inning,1.000000,-0.046512,-0.003879,-0.007301,-0.000545,-0.007472,0.001463,-0.000998
over,-0.046512,1.000000,-0.006877,0.086966,-0.001303,0.087345,-0.001185,0.073788
ball,-0.003879,-0.006877,1.000000,0.007168,-0.002487,0.006693,-0.002156,0.004573
batsman_runs,-0.007301,0.086966,0.007168,1.000000,-0.140883,0.977587,0.019815,-0.170038
extra_runs,-0.000545,-0.001303,-0.002487,-0.140883,1.000000,0.070707,-0.001777,-0.041352
total_runs,-0.007472,0.087345,0.006693,0.977587,0.070707,1.000000,0.019587,-0.180115
non_boundary,0.001463,-0.001185,-0.002156,0.019815,-0.001777,0.019587,1.000000,-0.002066
is_wicket,-0.000998,0.073788,0.004573,-0.170038,-0.041352,-0.180115,-0.002066,1.000000